only temporary:
AWS Access Key ID: ASIAR6HLSJCLXYVONG6I
AWS Secret Access Key: +FFnedqMc++L1Z9dMkYOxl60MUNm9ILqFZG/NWym
AWS Session Token: FwoGZXIvYXdzEMv//////////wEaDFVYcdqfMh/w2cQSAiLVAbMJzhuo2MRWJQtX/6eykT+B7EwcrbesdGxiXgdOFBEyW6CTQlf7rrjxgfBvCDWLVJYg3i2L82PecePU44QjebNmmbbCb333oTQVg/maHelZiztB5IOwZF4Ea9Qej+M9e3zv7VGaliHu09ezBwWo/GX1FjaLCZvBI2koelcEyYOrS7N5HwZITu1qbQRtyFuIqVepSb0nSyzqy8GvVC9QbBXOGpMYQZotZofkyIemDbVzrYQCz89/ku331zEeSVkIo3BevJUaZ2pw1+QMtBoMHu+RAC/e0SjUtdqdBjItHb82Bpr/oYga6+TxhO8zW7r37O+Pmalk0umZ6KelWoGAVw16hCe5LeeWtYZJ

set up in IAM:
Account Name: myadmin
Access key ID: AKIAR6HLSJCL7H62TGU5
Secret access key: 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

login to docker with console: winpty docker login -U mauiwowie

az aks get-credentials --resource-group myResourceGroup --name myAKSCluster